{% extends "OrganizerBundle::layout.html.twig" %}
{% block content %}

<h1> Bienvenue {{firstname}} {{surname}}</h1>

<img src="{{ asset('uploads/avatar/')}}{{image}}" alt="avatar" />


<li><a href="{{ path('edituser') }}">Editer profil</a></li>
<br/>
<li><a href="{{ path('logout') }}">Deconnexion</a></li>
<br/>
<li><a href="{{ path('Creategroup') }}">Cr&eacute;er un groupe</a></li>
<br/>
<li><a href="{{ path('Listgroup') }}">Lister mes groupes cr&eacute;es</a></li>
<br/>
<li><a href="{{ path('ListAllgroup') }}">Lister Toutes les groupes</a></li>
<br/>
<li><a href="{{ path('Listsubscibedgroup') }}">Lister mes groupes abonnés</a></li>

<br/>
<li><a href="{{ path('Addsender') }}">inscrire de la news letter</a></li>
<br/>
<li><a href="{{ path('Deletesender') }}">desinscrire de la news letter</a></li>



{% endblock %}
