{% extends 'UserBundle::layout.html.twig' %}
{% block content %}

<h1> Bienvenue {{firstname}} {{surname}}</h1>

<img src="{{ asset('uploads/avatar/')}}{{image}}" alt="avatar" />


<li><a href="{{ path('Edituser') }}">Editer profil</a></li>
<br/>
<li><a href="{{ path('Deconnexion') }}">Deconnexion</a></li>

{% endblock %}